$body-color: rgba(31, 29, 43, 255);
$white-color: rgb(255, 255, 255);
$pink-color: rgba(253, 0, 200, 255);
$default-bg-color: rgba(53, 52, 64, 255);
$default-color: rgba(122, 124, 139, 255);
$bg-gradient-button: rgb(203, 13, 191);
$gradient-button: linear-gradient(
  90deg,
  rgba(203, 13, 191, 1) 0%,
  rgba(142, 28, 176, 1) 50%,
  rgba(105, 37, 166, 1) 100%
);

$margin-top: 1rem;
.glass-modal {
  backdrop-filter: blur(70px);
  background-color: transparent;
}

.zoom:hover {
  transform: scale(1.01);
  cursor: pointer;
  z-index: 3;
}
.mb-6 {
  margin-bottom: 6rem;
}
.white {
  color: $white-color;
}

.default-bg-color {
  background-color: $default-bg-color;
}

.btn-default {
  background-color: $bg-gradient-button;
  background-image: $gradient-button;
}

.hovered:hover {
  box-shadow: 2px 2px black;
}

.text-hover {
  text-decoration: none;
}

.text-hover:hover {
  text-decoration: underline white;
}
